:root {
  --ff-sans: sans-serif;
  --ff-serif: serif;

  --fs-200: 0.65rem;
  --fs-300: 0.75rem;
  --fs-400: 0.875rem;
  --fs-500: 1.875rem;
  --fs-700: 2.25rem;
  --fs-900: 3rem;

  --fw-200: 200;
  --fw-400: 400;
  --fw-700: 700;
  --fw-900: 900;

  --lh-200: 1.1;
  --lh-400: 1.4;
  --lh-600: 1.6;

  --clr-accent: #6baed8;
  --clr-primary: #f7f5f1;
  --clr-secondary: #59606d;

  --clr-neutral-100: #f8f9fa;
  --clr-neutral-200: #e9ecef;
  --clr-neutral-300: #dee2e6;
  --clr-neutral-400: #ced4da;
  --clr-neutral-500: #adb5bd;
  --clr-neutral-600: #6c757d;
  --clr-neutral-700: #495057;
  --clr-neutral-800: #343a40;
  --clr-neutral-900: #212529;

  --clr-info: #17c1e8;
  --clr-sucess: #77c376;
  --clr-warning: #ffcb00;
  --clr-danger: #d36c6c;

  --clr-white: #fff;
  --clr-black: #000;

  /* 4 */
  --gap-s: 0.25rem;
  /* 8 */
  --gap-m: 0.5rem;
  /* 16 */
  --gap-l: 1rem;
  /* 24 */
  --gap-xl: 3rem;

  --br: 0.25rem;

  --leaf: var(--br) 0 var(--br) 0;

  --shadow: 8px 8px 10px -10px var(--_shadow),
    8px 8px 6px -8px var(--_highlight) inset;
  --cast-shadow: 8px 8px 10px -10px var(--_shadow);

  @media (min-width: 40em) {
    --fs-500: 2rem;
    --fs-700: 2.5rem;
    --fs-900: 3.5rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: calc(100dvh - 1rem);

  line-height: var(--lh-400);
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: var(--clr-secondary);

  background-color: var(--clr-neutral-200);
  padding: 1rem 1.5rem 0 1rem;

  --_shadow: var(--clr-neutral-400);
  --_highlight: color-mix(in srgb, var(--clr-neutral-100) 20%, transparent);
}

/* themes */
body.dar {
  --clr-primary: #59606d;
  --clr-secondary: #f7f5f1;

  --clr-neutral-100: #343a40;
  --clr-neutral-200: #495057;
  --clr-neutral-300: #6c757d;

  --_shadow: var(--clr-neutral-100);
  --_highlight: color-mix(in srgb, var(--clr-neutral-400) 20%, transparent);
}

body.dark {
  --clr-accent: #f9b407;

  --clr-primary: #404650;
  --clr-secondary: #f9f9f9;

  --clr-neutral-100: #41454c;
  --clr-neutral-200: #353941;
  --clr-neutral-300: #2f333a;

  --clr-neutral-500: #9da0a5;

  --_shadow: var(--clr-neutral-100);
  --_highlight: color-mix(in srgb, var(--clr-neutral-400) 20%, transparent);
}
/* --- --- --- */

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* --- --- --- */
#root {
  width: inherit;
  height: inherit;

  display: grid;
  grid-template-areas: "nav main";
  gap: var(--gap-l);
}

#root.open {
  grid-template-columns: 14rem 1fr;
}

#root.closed {
  grid-template-columns: 4rem 1fr;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
  line-height: var(--lh-200);
}

img,
body,
h1,
h2,
h3,
h4,
p,
dl,
dd,
figure {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: var(--br);
}

/* General */
#map {
  min-height: 100%;
}

/* NAV */
.sidenav {
  height: calc(100% - 1rem);

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 5rem 1fr 2.5rem;
  grid-template-areas:
    "logo"
    "items"
    "plug";

  justify-content: center;

  padding: var(--gap-m);
  border-radius: var(--leaf);
  background-color: var(--clr-neutral-100);
  box-shadow: var(--cast-shadow);
}

.sidenav.closed {
  padding-inline: var(--gap-s);
}

.logo {
  grid-area: logo;
  justify-self: center;

  height: 2rem;

  padding-top: var(--gap-l);
}

.modules {
  grid-area: items;

  height: 100%;
  overflow: auto;
}

.module,
.module-selected {
  width: 100%;
  height: 54px;

  display: flex;
  align-items: center;
  gap: var(--gap-m);

  cursor: pointer;

  padding-inline: var(--gap-l);
  border-radius: var(--br);
  box-shadow: var(--shadow);
  margin-block: var(--gap-s);

  & p {
    width: 100%;
  }
}

.sidenav.closed .module {
  width: 100%;
  height: 54px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding-inline: unset;
  background-color: unset;
  box-shadow: unset;
  margin-block: var(--gap-s);

  > p,
  > svg {
    display: none;
  }
}

.module:hover,
.module:focus,
.sidenav.closed .module:hover,
.sidenav.closed .module:focus {
  background-color: var(--clr-neutral-200);

  & [class^="btn"] {
    background-color: color-mix(
      in srgb,
      var(--_background, var(--clr-secondary)) 85%,
      black
    );
  }
}

.module:active .sidenav.closed .module:active,
.module-selected {
  background-color: var(--clr-neutral-300);

  & [class^="btn"] {
    background-color: color-mix(
      in srgb,
      var(--_background, var(--clr-secondary)) 95%,
      black
    );
  }
}

.plug {
  grid-area: plug;

  justify-self: center;
  align-self: flex-end;

  display: flex;
  align-items: end;

  padding-bottom: var(--gap-s);
}

.sidenav.closed .plug svg {
  width: 2.5rem;
}

/* MAIN */
main {
  width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: var(--gap-l);

  padding-bottom: var(--gap-l);
}

/* Toolbar */
.toolbar {
  width: 100%;
  min-height: 75px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  /* padding-inline: 1rem; */
  border-radius: var(--br);
  /* background-color: var(--clr-neutral-100); */
}
/* _Breadcrums */
.changename {
  display: flex;
  align-items: start;
  gap: var(--gap-m);
}

.breadcrums {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.crums,
.crums-leaf {
  font-size: var(--fs-200);
}

.crums {
  color: var(--clr-neutral-500);
}

.crums-leaf {
  color: var(--clr-secondary);
}

.page-title {
  font-weight: var(--fw-700);

  padding-left: var(--gap-s);
  margin-top: var(--gap-s);
}
/* Quick Access */
.quick-access {
  display: flex;
  align-items: center;
  gap: var(--gap-s);
}

.container {
  flex-basis: 100%;
  overflow: auto;

  padding: var(--gap-m);
  border-radius: var(--leaf);
  background-color: var(--clr-neutral-100);
  box-shadow: var(--cast-shadow);

  > * + * {
    margin-bottom: var(--gap-m);
  }
}

/* Modules */
.test-module {
  min-width: 100%;
  background-color: var(--clr-neutral-600);
}

.settings {
  display: flex;
  flex-direction: row;
  flex: 0 auto;
  gap: var(--gap-l);

  position: relative;
  overflow: scroll;

  --_foreground: var(--clr-secondary);
  --_background: var(--clr-primary);

  > nav {
    position: fixed;
    height: fit-content;

    width: 16rem;
    border-radius: var(--leaf);
    background-color: var(--_background);
  }

  > section {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-l);

    margin-left: 16rem;

    > .profile-picture-settings img {
      border-radius: var(--leaf);
    }

    > .container {
      width: 40rem;
      overflow: visible;
      background-color: unset;

      > * + * {
        margin-top: var(--gap-l);
      }
    }
  }
}

/* Profile Settings */
.profile-picture-settings {
  display: flex;
  gap: var(--gap-l);
  align-items: center;

  > img {
    width: 64px;
    height: 64px;
  }

  & span {
    color: var(--clr-neutral-500);
    font-size: var(--fs-200);
  }
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  color: var(--clr-secondary);
  background-color: var(--clr-neutral-100);
}

.leaflet-control-attribution,
.leaflet-control {
  display: none;
}

.flow-content > * + * {
  margin-top: var(--gap-m, 1rem);
}

.hidden {
  display: none;
}

.can-click {
  cursor: pointer;
}

/* btn */
[class^="btn"] {
  width: max-content;
  min-height: 32px;

  --_foreground: var(--clr-primary);
  --_background: var(--clr-secondary);

  font-size: var(--fs-300);
  font-weight: 400;
  text-transform: uppercase;
  color: var(--_foreground, var(--clr-primary));

  display: grid;
  grid-template-columns: repeat(3, max-content);
  justify-items: start;
  align-items: center;
  cursor: pointer;

  padding-block: unset;
  padding-inline: unset;

  padding: var(--gap-s) var(--gap-l);
  border-radius: var(--br);
  border: none;

  background-color: var(--_background, var(--clr-secondary));
  box-shadow: var(--shadow);

  > * + * {
    margin-left: var(--gap-s);
  }

  & div {
    display: flex;
    flex-direction: column;
    align-items: start;

    & p + p {
      font-size: var(--fs-200);
      text-transform: unset;
    }
  }

  > svg {
    width: 24px;
    height: 24px;

    & path {
      fill: var(--_foreground);
    }
  }
}

[class^="btn"]:hover,
[class^="btn"]:focus {
  background-color: color-mix(
    in srgb,
    var(--_background, var(--clr-secondary)) 85%,
    black
  );
}

[class^="btn"]:active {
  background-color: color-mix(
    in srgb,
    var(--_background, var(--clr-secondary)) 80%,
    black
  );
}

[class^="btn"]:has(p) {
  padding: var(--gap-s) var(--gap-m);
}

/* btn-mutators */
[class$="-icon"] {
  --_foreground: white;
  --_background: var(--clr-accent);
  padding: var(--gap-s);
}

[class$="-danger"] {
  fill: white;
  --_foreground: white;
  --_background: var(--clr-danger);
}

[class$="-warning"] {
  --_foreground: white;
  --_background: var(--clr-warning);
}

[class$="-info"] {
  --_foreground: white;
  --_background: var(--clr-info);
}
/* --- --- */

.space-right {
  margin-right: var(--gap-m);
}

input {
  color: var(--clr-secondary);
  border-radius: var(--br);
  background-color: var(--clr-primary);
  outline: 0.08rem solid var(--clr-neutral-300);
  border: none;

  padding: 0.5rem;
}

input:hover,
input:focus {
  outline: 0.17rem solid var(--clr-accent);
}

.container-label {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);

  > label {
    font-size: var(--fs-200);
  }
}

.container-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap-s) var(--gap-l);

  > * {
    margin-top: var(--gap-l);
  }
}

.indent {
  padding-left: 1rem;

  > * + * {
    margin-top: var(--gap-xl);
  }

  & ul {
    font-size: var(--fs-200);
    color: var(--clr-neutral-500);
    list-style: disc;
    padding-left: var(--gap-l);
  }

  & button {
    margin-inline: auto 0;
  }
}
